/* Source: https://codepen.io/bradleytaunt/pen/vYXjpLO */
.radio-toggles {
    user-select: none;
    text-align: center;
    border-top: 20px solid lightgrey;
    font-family: "Inter", "Helvetica", sans-serif;
    align-items: center;
    background: #eee;
    border: 1px solid lightgrey;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 400px;
    overflow: hidden;
    padding: 4px;
    position: relative;
}

label {
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    width: 50%;
    z-index: 2;
}

.slide-item {
    background: white;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    height: calc(100% - 8px);
    left: calc(50% + 4px);
    position: absolute;
    width: calc(50% - 8px);
    transition: left .4s;
    z-index: 0;
}

input[type="radio"] {
    left: -9999px;
    position: absolute;
    z-index: -1;
}
input[type="radio"]:nth-of-type(1):checked ~ .slide-item {
    left: 4px;
}
input[type="radio"]:nth-of-type(2):checked ~ .slide-item {
    left: calc(50% + 4px);
}